*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color:hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'EB Garamond', serif;
    font-family: 'Montserrat', sans-serif;
}
.product{
    width: 670px;
    background-color: white;
    display: flex;
}
.product > * {
    width: 50%;
}
.product-image img{
    width: 100%;
    height: 100%;
}
.product-content{
    padding: 40px;
}

.product-category{
    text-transform: uppercase;
    letter-spacing: 3px;
    color:hsl(228,12%,48%);


}
.product-title,
.product-price{
    font-family: 'Fraunces', serif;
}

.product-title{
    margin-top:10px;
    color: hsl(212, 21%, 14%);
    font-size: 40px;
}
.product-description{
    margin-top: 10px;
    color: hsl(228,12%,48%);
    line-height: 1.6;
}

.product-price{
    margin-top: 10px;
    display:flex;
    align-items: center;
   gap: 10px;

}
.discounted-price{ 
    color: hsl(158, 36%, 37%);
    font-size: 40px;
}
.original-price{
    color: hsl(228,12%,48%);
    text-decoration: line-through;
}

button{
    margin-top: 20px;
    width: 100%;
    background-color:hsl(158, 36%, 37%);
    color: white;
    padding: 18px 20px;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    gap: 10px;
}
