body{
    background-color: #eee;

}
.card{
    width: 300px;
    background-color:#fff;
    margin: 60px;
}

.card-image{
    width: 100%;
   
}

.card-image img{
    width: 100%;
    
}

.card-detail{
    padding:0px 0px 20px 20px;
}
