*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(105, 76, 33);
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

.timer-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-control{
    display: flex;
}

.timer-button{
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    background: rgb(0, 0 , 0 , 0.1);
    padding: 1em;
    font-family: 'Inconsolate', monospace;
}
 .timer-background{
    background: rgb(0, 0, 0, 0.2);
 }

 .timer-display{
    display: flex;
    flex-direction: column;
 }

 .time-left{
    font-size: 8em;
    color: white;
    text-shadow: 4px 5px 0 rgba(0,0,0,9.1);

 }

 .end-time{
    font-size: 2em;
    color: white;
 }