*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./images/bg-intro-desktop.png');
    background-color :hsl(0, 100%, 74%);
    font-family: 'Poppins';
}

.container{
    width: 980px;
    display:flex;
    margin: auto; 
    justify-content: center;
    gap: 45px;
    margin-top: 100px;
    padding: 20px 50px;
}

.left-side{
    color: rgb(245, 239, 239);
}
.left-side,
.right-side{
    width: 50%;
}
.left-side h1{
    font-size: 38px;
}
.right-side> .message{
    background-color: hsl(248, 32%,49%);
    padding: 9px 12px;
    text-align: center;
    border-radius: 7px;
    font-size: 14px;
    color: white;
}

form{
    padding: 20px;
    background-color: white;
    margin-top: 25px;
    border-radius: 7px;

}
.input-group{
    width: 100%;
    margin-top: 18px;
}

.input-group input {
   width: 100%;
   padding: 13px;
   border: 1px solid hsl(246, 25%, 77%);
}

input:active, 
input:focus{
    outline:1px solid hsl( 248,32%,49%);
}

input::placeholder{
    font-size: 17px;
    font-family: 'Poppins';
}

.input-group .message{
    color: hsl(0, 100%, 74%);
    font-size:14px;
    display: none;

}
button{
    background-color: hsl(154, 59%, 51%);
    margin-top: 20px;
    justify-content:center;
    padding: 10px 105px;
    display:flex;
    color:white;
    border:none;
    border-radius:7px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow:inset 0px -4px 0px 0px rgba(0, 0, 0, 0.1);

}

form >.message {
    font-size: 14px;
    color: hsl(246, 25%, 77%);
    text-align: center;
    margin-top: 10px;
}
form>.message a{
    text-decoration: none;
    color:hsl(0, 100%, 74%);
}

.input-group.error input {
    border: 1px solid hsl(0, 100%, 74%);


}

.input group.error input:: placeholder {
    color: hsl(0, 100%, 74%);
}

.input-group.error .message{
    display: block;
}